*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        height: 500vh;
        background-color: rgb(190, 210, 228);
        
    }
    .top{
        height: 100px;
        background-color: blue;
    }
    .top1{
        height: 100px;
        background-color: rgb(48, 36, 36);
        display: flex;
        gap: 40px;
    } 
    .search-container{
        padding: 20px;
        margin: 10px;
    }
    .search-btn{
        padding: 6px;
        
    }
    
    .logo {
        height: 100%;
    }
    .logo img{
        padding:2px;
        width: 100px;
        height: 95%;
    }
    .search-input {
        width: 400px;
        height: 30px;
        border-radius: 2px;
    }
    .navbar{
        width:auto;
        padding:40px ;
       
    }
    .nav-links{
        
        font-size: large;
         display: flex;
        justify-content: space-between;
       gap: 50px;
    }
    .nav-links a:hover{
        color: white;
    }
    .main{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
    
    .product{
        width: 250px;
        text-align: center;

    }
    .product img{
        width: 100%;
        height: 300px;

    }
    